{% extends 'base.html' %}
{% block content %}
    {% load static %}

<div class="rounded m-3 bg-dark text-white" style="height: 100%;">
<div id="Interval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#Interval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#Interval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#Interval" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="width:100%; height:500px;">
    <div class="carousel-item active">
      <img src="{% static 'images/pg.png' %}" class="mx-auto d-block w-100" alt="pic1" style="max-width:750px;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/srwww.jpg' %}" class="d-block w-100" alt="pic2">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/11.jpg' %}" class="mx-auto d-block w-100" alt="pic3" style="width:auto;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#Interval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#Interval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="jumbotron text-center" style="font-family: Mochiy Pop P One;">
    <br>
<h1>Welcome to Digital Business Technology Program</h1>
</div>
<p class="p-3" style="font-size: 20px"><b>&emsp;Every business is a digital one. </b>
   &nbsp; At least, that’s the premise of a digital business technology
platform. Here’s the idea: In some ways, every company is a software
company because companies today must function in ways that many
software or technology firms do. by the way, we can help you for
transform to the digital business

                         สาขาวิชาเทคโนโลยีธุรกิจดิจิทัล
    ศึกษาเกี่ยวกับเทคโนโลยีสารสนเทศ เพื่อประยุกต์ใช้กับงานในภาคธุรกิจและภาคอุตสาหกรรม
    เรียนรู้ตั้งแต่พื้นฐานของระบบคอมพิวเตอร์ หลักการทำงาน ระบบเครือข่ายคอมพิวเตอร์
    การดูแลบำรุงรักษาและซ่อมประกอบคอมพิวเตอร์ ตลอดจนการใช้โปรแกรมสำนักงาน
    การออกแบบซอฟต์แวร์ที่ใช้ควบคุมการทำงานฮาร์ดแวร์ ระบบฐานข้อมูล การออบแบบสื่อสิ่งพิมพ์ต่างๆ
    รวมทั้งการสร้างเว็บไซต์ ที่สามารถทำงานบนอุปกรณ์สมาร์ทโฟน
    .

</p>
</div>
{% endblock %}