{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="rounded m-3 bg-light" style=" height: 100%;">

        <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-dark flex-fill text-white" style="font-family: 'Prompt', sans-serif;">
             <h2><img src="{% static 'images/User.png' %}" alt="com" width="75px"> บุคลต้นแบบ</h2>
            </div>
        </div>
        <div >
            <img src="{% static 'images/mom.jpg' %}" class="rounded mx-auto pt-3 d-block" alt="pg" width="400px">
        </div>
        <div class="m-3 pt-3 fs-5" style="font-family: 'Prompt', sans-serif;">
            <p class="text-center"><b> Pattha </b></p>
            <p><b>
               &emsp; ยุปัทถา บุญประคม แม่ฉัน เกิดเมือวันที่ 13 April 1980 เพราะแม่มีธุรกิจส่วนตัวดูแลหอพัก และที่บ้านทำส่วนพืชไร่เป็นธุรกิจของตัวเอง(อาชีพอิสระ)
            </b></p>
        </div>


    </div>
{% endblock %}